body {
    font-family: helvetica;
    background-color: #816385;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

#header {
    background-color:#57215e;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

h1 {
    vertical-align: middle;
    color: white;
    font-weight: bold;
}

.row {
    margin: 10px 20px;
}

#results {
    margin: 30px 20px 10px 0px;
}
select{
    outline: none;
  border: 2px solid #57345c;
  width: 320px;
  border-radius: 10px;
  height: 30px;
}

input{
  outline: none;
  border: 2px solid #57345c;
  width: 300px;
  border-radius: 10px;
  height: 30px;
}
#searchBtn{
background-color:#57345c;
  color: whitesmoke;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  outline: none;
  border: none;
  border: 2px solid black;
}

button{
    background-color:#57345c;
  color: whitesmoke;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  outline: none;
  border: none;
  border: 2px solid black;
}
.person-row {
    margin: 10px 0px;
    padding: 10px;
    background-color: #57215e;
    width: 100%;
    float: left;
}

.person-row img {
    float: left;
    margin-right: 20px;
}

.personal-info {
    float: left;
    color: whitesmoke;
}

.person-info{
    color: whitesmoke;
}

.person-row > button {
   float: right; 
}

img{
    width: 70px;
    border-radius: 50%;
}